* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
body {
  font-family: "Work Sans", sans-serif;
}

.center {
  text-align: center;
}
/* banner section */
.banner {
  background-image: url("../images/banner/banner2.png");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 230px;
}

.banner-title {
  color: #151414;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  width: 525px;
  height: 225px;
}

.banner-description {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 500px;
  height: 80px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.btn-banner {
  border-radius: 5px;
  background: #f15b22;
  border: 0;
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 25px;
  width: 160px;
  height: 60px;
}
/* failure section style */
.failure-left {
  width: 50%;
  margin-left: 200px;
}
.failure-img {
  display: block;
  height: 700px;
  width: 500px;
  object-fit: contain;
}

.failure-items {
  display: flex;
  height: 800px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.failure-container {
  width: 50%;
}

.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.failure-description,
.failure-list {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-right: 300px;
}

.failure-description {
  margin-top: 24px;
  margin-bottom: 18px;
}

ul {
  list-style-image: url("../images/icons/check\ 1.svg");
  margin-left: 25px;
}
/* plan section design */

.plan-item-img {
  width: 90px;
  height: 90px;
}

.plan-title {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.plan-description {
  color: #737272;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

.plan-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 50px 130px 230px;
}

.plan-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* positive section style */

.positive-item {
  width: 1140px;
  height: 300px;
  background-image: url("../images/watch.png");
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}

.call-title {
  width: 450px;
  color: white;
  margin-left: 64px;
}

.btn-call {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: #fff;
  color: #005fac;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  margin-left: 64px;
}
